.about {
  display: flex;
}
.about-img {
  width: 500px;
  height: 600px;
  margin: 20px;
  border-radius: 30px;
}
.about-head {
  box-sizing: border-box;
  box-shadow: 2px 3px 4px gray;
  border-radius: 30px;
  text-align: center;
  background-color: white;
  color: blue;
}
.about-text {
  margin-top: 20px;
  text-align: center;
  padding: 40px;
  font-size: 22px;
  margin-right: 20px;
  color: black;
}

.footer {
  margin-top: 100px;
}
@media screen and (max-width: 480px) {
  .about {
    display: inline-block;
  }
  .about-img {
    width: 370px;
    height: 300px;
    margin: 20px;
    border-radius: 30px;
  }
  .about-head {
    border-radius: 30px;
    text-align: center;
    margin: 0px 10px;
    padding: 30px;
    background-color: white;
    color: blue;
  }
  .about-text {
    text-align: center;
    font-size: 19px;
    color: black;
  }
}
