.connect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  margin-left: 100px;
}
.contact {
  text-align: center;
}
.phone {
  margin-left: 90px;
}
.icons {
  background-color: grey;
  padding: 60px;
  color: white;
}
.contact-email {
  color: white;
  text-decoration: none !important;
}
.head {
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .icons {
    background-color: rgb(211, 62, 62);
    padding: 20px;
    color: white;
  }
  .head {
    margin-top: 50px;
    text-align: center;
  }
  .connect {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
  }
  .contact {
    text-align: center;
  }
  .phone {
    margin-left: 50px;
  }
}
