.gif {
  width: 200px;
  height: 500px;
}
.home-page {
  display: flex;
  align-items: center;
}
.up {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
.ups {
  height: 40px;
  font-size: 40px;
  position: fixed;
  background-color: tomato;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.ups:hover {
  cursor: pointer;
  border: 1px solid black;
  transform: scale(1);
}
.home-button {
  padding: 20px;
  margin: 10px;
}
.provider {
  padding: 30px;
}
.home-text {
  padding: 60px;
  font-weight: bolder;
}
.about {
  display: flex;
  justify-content: center;
}
.about-img {
  width: 500px;
  height: 600px;
  margin: 20px;
  border-radius: 30px;
}
.about-me {
  justify-content: center;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}
.about-head {
  box-sizing: border-box;
  box-shadow: 2px 3px 4px gray;
  border-radius: 30px;
  text-align: center;
  background-color: white;
  color: blue;
}
.about-text {
  margin-top: 20px;
  text-align: center;
  padding: 40px;
  font-size: 22px;
  margin-right: 20px;
  color: black;
}

.footer {
  margin-top: 100px;
}

.font {
  font-weight: 300;
  color: teal;
}
.service-gif {
  width: 400px;
  height: 400px;
}
.service-gifs {
  width: 250px;
  height: 200px;
}
.logo {
  width: 200px;
  height: 200px;
  padding: 20px;
}
.skill {
  margin-left: 130px;
}
.thumbnail {
  border-radius: 20px;
  justify-content: space-between;
  margin: 10px;
}
.service-gifss {
  width: 250px;
  height: 200px;
  padding-top: 10px;
}
.thum {
  display: flex;
}
.app {
  display: flex;
}
.call {
  width: 800px;
  height: 600px;
  padding: 20px;
}
.app-text {
  padding-top: 100px;
  padding-right: 70px;
  font-weight: bolder;
  font-size: 3.5em;
}
.app-texts {
  font-weight: 300;
  color: teal;
}
.footer {
  text-align: center;
}
.project {
  display: flex;
  box-sizing: border-box;
  justify-content: start;
}
.app1 {
  width: 300px;
  height: 400px;
}
.p {
  font-size: 16px;
}
.projects {
  display: flex;
  box-sizing: border-box;
  justify-content: start;
}
.filler {
  text-align: center;
  font-weight: bolder;
  color: teal;
}
.footer {
  text-align: center;
}
.button {
  margin-left: 80px;
}
.buttons {
  margin-left: 180px;
}
.buttonss {
  margin-left: 130px;
}
.buttonsss {
  margin-left: 300px;
}
.connect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  margin-left: 100px;
}
.contact {
  text-align: center;
}
.phone {
  margin-left: 90px;
}
.icons {
  background-color: grey;
  padding: 60px;
  color: white;
}
.contact-email {
  color: white;
  text-decoration: none !important;
}
.head {
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .provider {
    padding: 10px;
    display: flex;
  }
  .thum {
    display: block;
    scroll-snap-align: end;
  }
  .gif {
    width: 400px;
    height: 400px;
  }

  .home-page {
    display: inline-block;
    align-items: center;
  }
  .thumbnail {
    margin: 0px 40px 20px 40px;
  }

  .home-text {
    padding: 20px;
    font-weight: bolder;
  }
  .service-gif {
    width: 200px;
    height: 200px;
  }
  .service-gifss {
    width: 150px;
    height: 200px;
    padding-top: 10px;
  }
  .service-gifs {
    width: 150px;
    height: 200px;
  }
  .about {
    display: block;
    justify-content: center;
  }
  .about-img {
    width: 370px;
    height: 300px;
    justify-items: center;
    border-radius: 30px;
  }
  .about-head {
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    background-color: white;
    color: blue;
  }
  .about-text {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: blue;
    margin-right: 1px;
    padding: 1px;
  }
  .skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
  }
  .logo {
    width: 150px;
    height: 150px;
    padding: 10px;
  }
  .app {
    display: inline-block;
  }
  .call {
    width: 400px;
    height: 600px;
  }
  .app-text {
    padding: 20px;
    font-weight: bolder;
    font-size: 3.5em;
  }
  .app-texts {
    font-weight: 300;
    color: teal;
  }
  .project {
    display: block;
    box-sizing: border-box;
    justify-content: center;
  }
  .projects {
    display: block;
    box-sizing: border-box;
    justify-content: center;
  }
  .filler {
    text-align: center;
    font-weight: bolder;
    color: teal;
  }
  .footer {
    text-align: center;
  }
  .app1 {
    width: 300px;
    height: 400px;
  }
  .buttonsss {
    margin-left: 80px;
  }
  .buttons {
    margin-left: 80px;
  }
  .buttonss {
    margin-left: 80px;
  }
  .icons {
    background-color: rgb(211, 62, 62);
    padding: 5px;
    color: white;
  }
  .head {
    margin-top: 50px;
    text-align: center;
  }
  .connect {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
  }
  .contact {
    text-align: center;
  }
  .phone {
    margin-left: 50px;
  }
}
